
T4 - 3-Sat Simmulated Annealing e Random Search/__pycache__/instanciaSAT.cpython-38.pyc
T4 - 3-Sat Simmulated Annealing e Random Search/__pycache__/randomSearch.cpython-38.pyc
T4 - 3-Sat Simmulated Annealing e Random Search/__pycache__/simulatedAnnealing.cpython-38.pyc
